



section#blog{
    padding: 30px 50px;
    height: max-content;
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    
}

section#blog div{
    margin-bottom: 20px;
}

#navbarNav button{
    padding: 10px 40px;
    background-color: lightyellow;
    border-radius: 30px;
    border: none;
}

div.cratepost{
  /* border: 2px solid green; */

  padding: 20px 50px;
}
div.cratepost h1{
 font-size: 3em;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
div.cratepost form{
 background-color: lightyellow;
 margin: 0px auto;
 width: 60%;
 padding: 15px  100px ;
}
div.cratepost form label{
display: block;
font-size: 2em;
text-transform: capitalize;
margin-bottom: 10px;
font-weight: 500;
}
div.cratepost form input{
display: block;
font-size: 1em;
text-transform: capitalize;
margin-bottom: 10px;
width: 100%;
padding: 5px 20px;
}
div.cratepost form textarea{
display: block;
font-size: 1em;
text-transform: capitalize;
margin-bottom: 10px;
width: 100%;
padding: 15px 20px;
}
div.cratepost form button{

font-size: 1em;
text-transform: capitalize;
margin-bottom: 10px;
width: 100%;
padding: 15px 20px;
background-color: darkorange;
border-radius: 20px;
border: none;
font-weight: 800;
}

@media only screen and (max-width:600px) {
    div.cratepost{
        padding: 10px;
      }
      div.cratepost form{
        width: 100%;
        padding: 30px 15px;
       }
       div.cratepost form label{
        font-size: 1.3em;
       }
}
